$footer-color-text: #adadad; 
$services-color-text: #5c5c5c;
$header-nav-color: #252525;

$fs-title-service: 18px;
$main-content: 24px;
$nav-size: 13px;

$rotoboCondensed: "Roboto Condensed";

$bg-heaader-footer: url(../images/header-bg.png) #1c1c1c;
